<div class="dashboard-subview claims-subview">

  <div class="job-lookup">
    <h1>Look Up Job By Invoice</h1>
    <span class="input">
    <input class="input__field" type="text" id="input-40" ng-model="searchInvoice"/>
    <label class="input__label input__label--color-1" for="input-40">
      <span class="input__label-content">INVOICE NUMBER</span>

    </label>
  </span>
  <button type="button" name="button" ng-click="getJobByInvoice(searchInvoice); clear();">Submit</button>

  </div>

    <div class="contact-us">
        <!-- <img src="assets/images/levt-thumbnail.png" alt=""> -->
        <h1>Email Customer   <span class="glyphicon glyphicon-envelope"></span></h1>
        <form>
            <ul class="form-style-1">
                <li>
                    <label>Email <span class="required">*</span></label>
                    <input value="{emailObj.toField}" type="email" name="field3" class="field-long" ng-model="emailObj.toField"/>
                </li>
                <li>
                    <label>Subject</label>
                    <input value="{emailObj.subjectField}" type="subject" name="field3" class="field-long" ng-model="emailObj.subjectField"/>
                </li>
                <li>
                    <label>Your Message <span class="required">*</span></label>
                    <textarea value="emailObj.textField" name="field5" id="field5" class="field-long field-textarea" ng-model="emailObj.textField"></textarea>
                </li>
                <li>
                    <button type="submit" value="Submit" ng-click="sendCmEmail(emailObj)">Submit</button>
                </li>
            </ul>
        </form>
    </div>

    <!-- <div class="accordian jobs-accordian">
        <div class="accordian-header">
            <div class="accordian-left-header">
                <h1>{{myJobs.length}}</h1>
                <h2>Current Claims</h2>
            </div>
            <div class="accordian-right-header">
                <h1>0</h1>
                <h2>Old Claims</h2>
            </div>

        </div>
        <div class="accordian-contents">

        </div>
    </div> -->


</div>
