<div class="dashboard-subview claims-subview">

    <cm-claims-accordian></cm-claims-accordian>

    <div class="contact-us">
        <!-- <img src="assets/images/levt-thumbnail.png" alt=""> -->
        <h1>Contact Us  <span class="glyphicon glyphicon-envelope"></span></h1>
        <form>
            <ul class="form-style-1">
                <li>
                    <label>Email <span class="required">*</span></label>
                    <input type="email" name="field3" class="field-long" />
                </li>
                <li>
                    <label>Which Claim is this about?</label>
                    <select name="field4" class="field-select">
                        <option ng-repeat="job in myJobs" value="Advertise">{{job.invoice}}</option>
                        <option value="General Question">Other</option>
                    </select>
                </li>
                <li>
                    <label>Your Message <span class="required">*</span></label>
                    <textarea name="field5" id="field5" class="field-long field-textarea"></textarea>
                </li>
                <li>
                    <button type="submit" value="Submit">Submit</button>
                </li>
            </ul>
        </form>
    </div>

    <!-- <div class="accordian jobs-accordian">
        <div class="accordian-header">
            <div class="accordian-left-header">
                <h1>{{myJobs.length}}</h1>
                <h2>Current Claims</h2>
            </div>
            <div class="accordian-right-header">
                <h1>0</h1>
                <h2>Old Claims</h2>
            </div>

        </div>
        <div class="accordian-contents">

        </div>
    </div> -->


</div>
