<div class="dashboard-subview-container">

    <div class="subroute-header">
    <ul class="header-profile">
        <li>
            <div>
                <img class="profile-img" src="assets/images/rick.jpg" alt="">


            </div>
        </li>
        <li>
            <div class="header-name" ng-cloak>
                {{currentTech.first_name}} {{currentTech.last_name}} (Technician)
            </div>
        </li>
    </ul>
    <ul class="subroute-nav">
        <li>
            <a ui-sref="tech-dashboard.main.jobs"><span>Current Jobs</span></a>
        </li>
        <li>
            <a ui-sref="tech-dashboard.main.appts"><span>Scheduled Appointments</span></a>
        </li>
        <li>
            <a ui-sref="tech-dashboard.main.manufacturers"><span> Update Manufacturers</span></a>
        </li>
    </ul>
    </div>
    <div class="subroute-body">
      <ui-view></ui-view>


    </div>

</div>
