<div class="accordian jobs-accordian">
    <div class="accordian-header">
      <h1>{{techJobs.length}}</h1>
      <h2>Current Jobs</h2>
        <!-- <div class="accordian-selector active" id="current-select">
            <h1>{{myJobs.length}}</h1>
            <h2>Current Claims</h2>
        </div>
        <div class="accordian-selector" id="old-select">
            <h1>0</h1>
            <h2>Old Claims</h2>
        </div> -->

    </div>
    <div class="accordian-contents panel">
      <!-- <div class="mini-claim" ng-repeat="job in myJobs" data-toggle="collapse" data-target="#coltteamcolapseOne">
        <h3 class="accordian-item">Model: {{job.model_num}}</h3>
        <h3 class="accordian-item">Invoice: {{job.invoice}}</h3>


      </div> -->
      <uib-accordion>
      <div class="mini-claim" ng-repeat="job in techJobs" uib-accordion-group class="panel-default" heading="{{job.model_num}}">
        BUUUUUTTTTSSSS
            <h4>{{job.invoice}}</h4>
            <h4>{{job.model_num}}</h4>
            <h4>{{job.serial_num}}</h4>
            <p>{{job.status}}</p>
            <p>{{job.next_step}}</p>
            <p>{{job.tracking_num}}</p>
            <button type="button" name="button" ng-click="openCalander(job.invoice, job.tech_assigned)">New Appointment</button>
            <br>
            <button type="button" name="button" ng-click="openUpdateInfo(job)">Update Information</button>

        </div>
    </uib-accordion>

      <div class="old-claims-div">
        <h1>No Old Claims!</h1>
      </div>

    </div>



    <!-- <div class="accordian-contents">
      <div class="body2">
        These are not
      </div>

    </div> -->
</div>
