<div class="dashboard-subview claims-subview">

  <cm-claims-accordian></cm-claims-accordian>

    <!-- <div class="accordian jobs-accordian">
        <div class="accordian-header">
            <div class="accordian-left-header">
                <h1>{{myJobs.length}}</h1>
                <h2>Current Claims</h2>
            </div>
            <div class="accordian-right-header">
                <h1>0</h1>
                <h2>Old Claims</h2>
            </div>

        </div>
        <div class="accordian-contents">

        </div>
    </div> -->


</div>
