<div ng-controller="userCtrl" class="landing">
    <div class="test-container-landing-name">
        <p id="test">Light Electric Vehicle Technologies</p>
    </div>
    <video autoplay loop class="video">
        <source src="./assets/343014810.mp4" type="video/mp4">
        <source src="./assets/343014810.ogg" type="video/ogg"> Your browser does not support the video tag.
    </video>

    <div id="preloader">
        <div id="status">&nbsp;</div>
    </div>

    <div class="service_area">
        <div class="container">
            <div class="row">
                <div class="service_section wow bounceInLeft animated">
                    <div class="col-md-3">
                        <div class="single_service">
                            <div class="ico"><i class="fa fa-wrench"></i></div>
                            <h2>Warranty Service</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore</p>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="single_service">
                            <div class="ico"><i class="fa fa-book"></i></div>
                            <h2>Knowledge Base</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore</p>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="single_service">
                            <div class="ico"><i class="fa fa-paint-brush"></i></div>
                            <h2>Project Design</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore</p>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="single_service">
                            <div class="ico"><i class="fa fa-users"></i></div>
                            <h2>Customer Success</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="work_area" id="{{testUser.first_name}}">
  <div class="container">
    <div class="row">
      <div class="work_section">
        <h1 class="wow bounceInLeft">Our Mission: <span>Your Success</span></h1>
          <div class="col-md-12 wow bounceInRight animated">
            <div class="bs-example">
              <ul class="nav nav-tabs">
                  <li class="active"><a data-toggle="tab" href="#sectionA"><i class="fa fa-lightbulb-o"></i></a></li>
                  <li><a data-toggle="tab" href="#sectionB"><i class="fa fa-compass"></i></a></li>
                  <li><a data-toggle="tab" href="#sectionC"><i class="fa fa-cogs"></i></a></li>
                  <li><a data-toggle="tab" href="#sectionD"><i class="fa fa-paper-plane"></i></a></li>
                  <li><a data-toggle="tab" href="#sectionE"><i class="fa fa-line-chart"></i></a></li>
              </ul>
              <div class="tab-content">
                  <div id="sectionA" class="tab-pane fade in active">
                      <h3>Strategy</h3>
                      <p>Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui. Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth.</p>
                  </div>
                  <div id="sectionB" class="tab-pane fade">
                      <h3>Plan</h3>
                      <p>Vestibulum nec erat eu nulla rhoncus fringilla ut non neque. Vivamus nibh urna, ornare id gravida ut, mollis a magna. Aliquam porttitor condimentum nisi, eu viverra ipsum porta ut. Nam hendrerit bibendum turpis, sed molestie mi fermentum id. Aenean volutpat velit sem. Sed consequat ante in rutrum convallis. Nunc facilisis leo at faucibus adipiscing.</p>
                  </div>
                  <div id="sectionC" class="tab-pane fade">
                      <h3>Mechanism</h3>
                      <p>Vestibulum nec erat eu nulla rhoncus fringilla ut non neque. Vivamus nibh urna, ornare id gravida ut, mollis a magna. Aliquam porttitor condimentum nisi, eu viverra ipsum porta ut. Nam hendrerit bibendum turpis, sed molestie mi fermentum id. Aenean volutpat velit sem. Sed consequat ante in rutrum convallis. Nunc facilisis leo at faucibus adipiscing.</p>
                  </div>
                  <div id="sectionD" class="tab-pane fade">
                      <h3>Title</h3>
                      <p>Vestibulum nec erat eu nulla rhoncus fringilla ut non neque. Vivamus nibh urna, ornare id gravida ut, mollis a magna. Aliquam porttitor condimentum nisi, eu viverra ipsum porta ut. Nam hendrerit bibendum turpis, sed molestie mi fermentum id. Aenean volutpat velit sem. Sed consequat ante in rutrum convallis. Nunc facilisis leo at faucibus adipiscing.</p>
                  </div>
                  <div id="sectionE" class="tab-pane fade">
                      <h3>Workflow</h3>
                      <p>Vestibulum nec erat eu nulla rhoncus fringilla ut non neque. Vivamus nibh urna, ornare id gravida ut, mollis a magna. Aliquam porttitor condimentum nisi, eu viverra ipsum porta ut. Nam hendrerit bibendum turpis, sed molestie mi fermentum id. Aenean volutpat velit sem. Sed consequat ante in rutrum convallis. Nunc facilisis leo at faucibus adipiscing.</p>
                  </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>

<div class="blog_area">
  <div class="container">
    <div class="row">
      <div class="blog_section">
          <h1>Meet our <span>Team</span></h1>
          <div class="single_blog col-md-4 slider-content">
            <a href="#">
                <img src="./assets/images/phil.jpg" alt="">
                <div class="slider-text">
                  <h3>Phil Leavitt</h3>
                  <p> <i class="fa fa-user"></i></p>
                  <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially.</p>
                </div>
            </a>
          </div>
          <div class="single_blog col-md-4 slider-content">
            <a href="#">
                <img src="./assets/images/mr47.jpg" alt="">
                <div class="slider-text">
                  <h3>Mister 47</h3>
                  <p> <i class="fa fa-paw"></i></p>
                  <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially.</p>
                </div>
            </a>
          </div>
          <div class="single_blog col-md-4 slider-content">
            <a href="#">
                <img src="./assets/images/shellee.jpg" alt="">
                <div class="slider-text">
                  <h3>Shellee Leavitt</h3>
                  <p> <i class="fa fa-user"></i></p>
                  <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially.</p>
                </div>
            </a>
          </div>
      </div>
    </div>
  </div>
</div>





</div>
