<div ng-controller="userCtrl" class="landing">
    <div class="test-container-landing-name">
        <p id="test">Light Electric Vehicle Technologies</p>
    </div>
    <video autoplay loop class="video">
        <source src="./assets/343014810.mp4" type="video/mp4">
        <source src="./assets/343014810.ogg" type="video/ogg"> Your browser does not support the video tag.
    </video>

    <div id="preloader">
        <div id="status">&nbsp;</div>
    </div>

    <div class="service_area">
        <div class="container">
            <div class="row">
                <div class="service_section wow bounceInLeft animated">
                    <div class="col-md-3">
                        <div class="single_service">
                            <div class="ico"><i class="fa fa-wrench"></i></div>
                            <h2>Warranty Service</h2>
                            <p>LEVT can mirror your product's manufacturer warranty, facilitate a claim through an aftermarket or extended warranty service or service your product after your warranties are over.</p>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="single_service">
                            <div class="ico"><i class="fa fa-book"></i></div>
                            <h2>Knowledge Base</h2>
                            <p>LEVT training has occurred all over the world in facilities where premium products are designed, built and tested.</p>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="single_service">
                            <div class="ico"><i class="fa fa-paint-brush"></i></div>
                            <h2>Project Design</h2>
                            <p>LEVT is the kind of company that says, "We can do that," "We can make that" If you have a new idea or need a partner who is an original, LEVT can lend a hand, or two.  </p>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="single_service">
                            <div class="ico"><i class="fa fa-users"></i></div>
                            <h2>Customer Success</h2>
                            <p>We love receiving and answering customer text/picture messages focusing in on specific product problems. </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="work_area" id="{{testUser.first_name}}">
  <div class="container">
    <div class="row">
      <div class="work_section">
        <h1 class="wow bounceInLeft">Our Mission: <span>Your Success</span></h1>
          <div class="col-md-12 wow bounceInRight animated">
            <div class="bs-example">
              <ul class="nav nav-tabs">
                  <li class="active"><a data-toggle="tab" href="#sectionA"><i class="fa fa-lightbulb-o"></i></a></li>
                  <li><a data-toggle="tab" href="#sectionB"><i class="fa fa-compass"></i></a></li>
                  <li><a data-toggle="tab" href="#sectionC"><i class="fa fa-cogs"></i></a></li>
                  <li><a data-toggle="tab" href="#sectionD"><i class="fa fa-paper-plane"></i></a></li>
                  <li><a data-toggle="tab" href="#sectionE"><i class="fa fa-line-chart"></i></a></li>
              </ul>
              <div class="tab-content">
                  <div id="sectionA" class="tab-pane fade in active">
                      <h3>Ideas</h3>
                      <p>Do you have an idea LEVT has helped with? Did you use LEVT components for a custom project? Are you an OEM who featured LEVT electric assist on your product? Have you an inspiration-based project for a special needs application? We love new ideas and LEVT would love to feature you on our social media! Submit your picture and tell your story here!</p>
                  </div>
                  <div id="sectionB" class="tab-pane fade">
                      <h3>Locations</h3>
                      <p>Light Electric Vehicle Technologies is located in Pocatello Idaho, USA serving customers throughout the United States including Alaska and Hawaii, Canada Puerto Rico, Guam, Northern Mariana Islands, the U.S. Virgin Islands, and American Samoa. For some products LEVT supports customers all over the world as the sole source for parts and proprietary technologies. </p>
                  </div>
                  <div id="sectionC" class="tab-pane fade">
                      <h3>Gears and Careers</h3>
                      <p>LEVT is always looking for talented individuals! If you are interested in a position at LEVT, please email your resume to LEVTservice@gmail.com or visit us in person and see our team in action. </p>
                  </div>
                  <div id="sectionD" class="tab-pane fade">
                      <h3>Taking Flight</h3>
                      <p>LEVT has technicians who are trained in Electronic Controls, Robotics and Drone Technologies. We "dig" anything that recharges and moves, especially flies!  It's only a matter of time until we unveil the next revolution in personal electric transportation... LEVs of the future: Personal Hovercrafts (HovEVs!) You heard it here first!

Shoot us an email if you want to be added to our HovEV waiting list!  </p>
                  </div>
                  <div id="sectionE" class="tab-pane fade">
                      <h3>Wow you're still here!</h3>
                      <p>Congratulations! You have won the grand prize for visiting every nook and cranny of our website! Please report to your LEVT Technician or Customer Service Rep that you have WON FREE UPS Ground Shipping on your next order, (or free upgrade to UPS Three Day Select Shipping.)

Thanks for being here! We love our LEVT customers!</p>
                  </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>

<div class="blog_area">
  <div class="container">
    <div class="row">
      <div class="blog_section">
          <h1>Meet our <span>Team</span></h1>
          <div class="single_blog col-md-4 slider-content">
            <a href="#">
                <img src="./assets/images/phil.jpg" alt="">
                <div class="slider-text">
                  <h3>Phil Leavitt</h3>
                  <p> <i class="fa fa-user"></i></p>
                  <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially.</p>
                </div>
            </a>
          </div>
          <div class="single_blog col-md-4 slider-content">
            <a href="#">
                <img src="./assets/images/mr47.jpg" alt="">
                <div class="slider-text">
                  <h3>Mister 47</h3>
                  <p> <i class="fa fa-paw"></i></p>
                  <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially.</p>
                </div>
            </a>
          </div>
          <div class="single_blog col-md-4 slider-content">
            <a href="#">
                <img src="./assets/images/shellee.jpg" alt="">
                <div class="slider-text">
                  <h3>Shellee Leavitt</h3>
                  <p> <i class="fa fa-user"></i></p>
                  <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially.</p>
                </div>
            </a>
          </div>
      </div>
    </div>
  </div>
</div>





</div>
