<div ng-controller="userCtrl" class="new-account-container">
  Hi, you're here to make an account.
  <div class="new-account-fields">
    <h1>Create New Account</h1>
    <h4>(Should be the same as the information on your warranty claim)</h4>
    <div class="name-fields">
      <span class="input name-field">
        <input class="input__field" type="text" id="input-6" ng-model="first_name"/>
        <label class="input__label input__label--color-1" for="input-6">
          <span class="input__label-content">First Name</span>
        </label>
      </span>
      <span class="input name-field">
        <input class="input__field" type="text" id="input-5" ng-model="last_name"/>
        <label class="input__label input__label--color-1" for="input-5">
          <span class="input__label-content">Last Name</span>
        </label>
      </span>
    </div>

    <span class="input">
    <input class="input__field" type="text" id="input-1" ng-model="address_line1"/>
    <label class="input__label input__label--color-1" for="input-1">
      <span class="input__label-content">Street Address</span>
    </label>
  </span>
  <span class="input">
    <input class="input__field" type="text" id="input-2" ng-model="address_line2"/>
    <label class="input__label input__label--color-1" for="input-2">
      <span class="input__label-content">City, State, ZIP</span>
    </label>
  </span>
  <span class="input">
    <input class="input__field" type="text" id="input-3" ng-model="invoice_number"/>
    <label class="input__label input__label--color-1" for="input-3">
      <span class="input__label-content">Invoice Number (LEVT)</span>
    </label>
  </span>
  <div class="phone-fields">
      <span class="input phone-field">
      <input class="input__field" type="text" id="input-4" ng-model="phone_num1"/>
      <label class="input__label input__label--color-1" for="input-4">
        <span class="input__label-content">Primary Phone</span>
      </label>
    </span>
    <span class="input phone-field">
    <input class="input__field" type="text" id="input-7" ng-model="phone_num2"/>
    <label class="input__label input__label--color-1" for="input-7">
      <span class="input__label-content">Secondary Phone</span>
    </label>

  </div>
  <div class="model-serial-fields">
    <span class="input phone-field">
    <input class="input__field" type="text" id="input-9" ng-model="model_num"/>
    <label class="input__label input__label--color-1" for="input-9">
      <span class="input__label-content">Product Model</span>
    </label>
  </span>
  <span class="input phone-field">
  <input class="input__field" type="text" id="input-8" ng-model="serial_num"/>
  <label class="input__label input__label--color-1" for="input-8">
    <span class="input__label-content">Serial Number</span>
  </label>
  </span>
  </div>
  <button type="button" name="button" id="new-acct-btn" ng-click="createNewCmAccount(first_name, last_name, address_line1, address_line2, invoice_number, phone_num1, phone_num2, model_num, serial_num)">Create Account</button>
  </div>
</div>
