.sidebar {
  height: 130vh;
  background-color: #266D88;
  width:  225px;
  color: #fff;
  float: left;
  transition: all .3s ease-in-out;
  overflow: hidden;


  li a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding-left: 50px;
    padding-top: 30px;
    padding-bottom: 22px;
    cursor: pointer;
    font-size: 20px;
    transition: all .3s ease-in-out;

    span {
    }
  }
  li {
    transition: all .3s ease-in-out;
    border-bottom: 1px solid #f4f4f4;
    :hover {
      background-color: #1a5063;
      transition: all .3s ease;

    }
  }

  .glyphicon {
    font-size: 20px;
    padding-right: 10px;
  }
  #levt-thumb {
    display: inline-block;
    justify-content: center;
    text-align: center;
    padding-left: 40px;
    padding-top: 25px;
  }
  .levt-logo {
    background-color: #fff;
    z-index: 10;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

  }
}

.dashboard-header {
  background-color: #fff;
  height: 111.9px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.dashboard-contents {
  width: 100%;
  overflow: hidden;
}

.dashboard-subview-container {
  overflow: hidden;
  background: #fff;

  .subroute-header {
    width: 100%;
    min-height: 15vh;
    // background-color: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

    ul {
      display: flex;

      flex-direction: row;
    }

    .subroute-nav {
      display: flex;
      /*flex-direction: row;*/
      text-align: center;
      margin-top: 15px;
      li {
        margin-left: 25px;
        color: #777779;
        // transition: all .5s ease;
        border-bottom: 5px solid transparent;
        padding-bottom: 25px;


        :hover {
          border-color: black;
        }

        span {
          font-weight: 700;
          padding-bottom: 25px;
          transition: all .3s ease;
          padding-left: 5px;
          padding-right: 5px;
          border-bottom: 5px solid transparent;

        }

        a:link {
          color: #777779;
          text-decoration: none;
          display: block;
        }
        a:visited {
            color: #777779;
        }
        span:hover {
            color: black;
            border-color: #36FC9A;
        }

      }

    }




    .header-profile {
      min-width: 250px;
      // display: inline-block;
      color: #777779;


      .profile-img {
        border-radius: 50%;
        width: 100px;
        height: 100px;
        margin-left: 20px;
        margin-top: 20px;

      }
      .header-name {
        // display: inline-block;
        margin-top: 60px;
        margin-left: 15px;
      }

    }
  }
}

.dashboard-subview {
  background-color: #f4f4f4;
}

.accordian {
  display: inline-block;

  width: 350px;
  margin-left: 60px;
  margin-top: 50px;

  .accordian-header {
    height: 100px;
    justify-content: center;
    text-align: center;
    .accordian-selector {
      display: inline-block;
      width: 49.2%;
      height: 100px;
      padding: 2px;
      cursor: pointer;
    }
    .active {
      background-color: #fff;
      border-left: 1px solid rgba(0, 0, 0, 0.1);
      border-right: 1px solid rgba(0, 0, 0, 0.1);
      border-top: 1px solid rgba(0, 0, 0, 0.1);
    }
  }

  .accordian-contents {
    text-align: center;
    background-color: #fff;
    display: inline-block;
    width: 100%;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    // min-height: 150px;

  }

  .mini-claim {
    // border: 1px solid rgba(0, 0, 0, 0.1);
    padding-top: 15px;
    padding-bottom: 15px;
    opacity: 1;
    -webkit-transition: -webkit-transform 2s ease-in-out;
  }

  .panel-body {
    border-top: none !important;
  }

  .anim {
    -webkit-transform: translate(200px, 200px)
  }

  .accordian-item {
    padding-left: 45px;
  }

  .old-claims-div {
    text-align: center;
    opacity: 0;
    color: #777779;
  }

}

#cancel-appt {
  background-color: #AA4B41;
  border-color: #AA4B41;


}

#cancel-appt:hover,
#cancel-appt:focus {
  color: #AA4B41;
  background: #fff;
  font-weight: 700;
}

.contact-us {
  min-width: 300px;
    position: absolute;
    display: inline-block;
    margin-left: 140px;
    margin-top: 60px;
    background-color: #fff;
    min-height: 250px;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    font-family: "Roboto";


  img {
    margin-left: 15px;
    margin-top: 15px;
    display: inline-block;
  }
  h1 {
    display: inline-block;
    span {
      font-size: 16px
    }
  }
}

.form-style-1 {
    // margin:10px auto;
    max-width: 400px;
    padding: 20px 12px 10px 20px;
    font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.form-style-1 li {
    padding: 0;
    display: block;
    list-style: none;
    margin: 10px 0 0 0;
}
.form-style-1 label{
    margin:0 0 3px 0;
    padding:0px;
    display:block;
    // font-weight: bold;
}
.form-style-1 input[type=text],
.form-style-1 input[type=date],
.form-style-1 input[type=datetime],
.form-style-1 input[type=number],
.form-style-1 input[type=search],
.form-style-1 input[type=time],
.form-style-1 input[type=url],
.form-style-1 input[type=email],
textarea,
select{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border:1px solid #BEBEBE;
    padding: 7px;
    margin:0px;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
}
.form-style-1 input[type=text]:focus,
.form-style-1 input[type=date]:focus,
.form-style-1 input[type=datetime]:focus,
.form-style-1 input[type=number]:focus,
.form-style-1 input[type=search]:focus,
.form-style-1 input[type=time]:focus,
.form-style-1 input[type=url]:focus,
.form-style-1 input[type=email]:focus,
.form-style-1 textarea:focus,
.form-style-1 select:focus{
    -moz-box-shadow: 0 0 8px #88D5E9;
    -webkit-box-shadow: 0 0 8px #88D5E9;
    box-shadow: 0 0 8px #88D5E9;
    border: 1px solid #88D5E9;
}
.form-style-1 .field-divided{
    width: 49%;
}

.form-style-1 .field-long{
    width: 100%;
}
.form-style-1 .field-select{
    width: 100%;
}
.form-style-1 .field-textarea{
    height: 100px;
}
.form-style-1 input[type=submit], .form-style-1 input[type=button]{
    background: #4B99AD;
    padding: 8px 15px 8px 15px;
    border: none;
    color: #fff;
}
.form-style-1 input[type=submit]:hover, .form-style-1 input[type=button]:hover{
    background: #4691A4;
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
}
.form-style-1 .required{
    color:red;
}
