.sidebar {
  height: 100vh;
  background-color: #266D88;
  width:  225px;
  color: #fff;
  float: left;
  transition: all .3s ease-in-out;
  overflow: hidden;


  li a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding-left: 50px;
    padding-top: 30px;
    padding-bottom: 22px;
    cursor: pointer;
    font-size: 20px;
    transition: all .3s ease-in-out;

    span {
    }
  }
  li {
    transition: all .3s ease-in-out;
    border-bottom: 1px solid #f4f4f4;
    :hover {
      background-color: #1a5063;
      transition: all .3s ease;

    }
  }

  .glyphicon {
    font-size: 20px;
    padding-right: 10px;
  }
  #levt-thumb {
    display: inline-block;
    justify-content: center;
    text-align: center;
    padding-left: 40px;
    padding-top: 25px;
  }
  .levt-logo {
    background-color: #fff;
    z-index: 10;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

  }
}

.dashboard-header {
  background-color: #fff;
  height: 111.9px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.dashboard-contents {
  width: 100%;
  overflow: hidden;
}

.dashboard-subview-container {
  overflow: hidden;
  background: #fff;

  .subroute-header {
    width: 100%;
    min-height: 15vh;
    // background-color: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

    ul {
      display: flex;

      flex-direction: row;
    }

    .subroute-nav {
      display: flex;
      /*flex-direction: row;*/
      text-align: center;
      margin-top: 15px;
      li {
        margin-left: 25px;
        color: #777779;
        // transition: all .5s ease;
        border-bottom: 5px solid transparent;
        padding-bottom: 25px;


        :hover {
          border-color: black;
        }

        span {
          font-weight: 700;
          padding-bottom: 25px;
          transition: all .3s ease;
          padding-left: 5px;
          padding-right: 5px;
          border-bottom: 5px solid transparent;

        }

        a:link {
          color: #777779;
          text-decoration: none;
          display: block;
        }
        a:visited {
            color: #777779;
        }
        span:hover {
            color: black;
            border-color: #36FC9A;
        }

      }

    }




    .header-profile {
      min-width: 250px;
      // display: inline-block;
      color: #777779;


      .profile-img {
        border-radius: 50%;
        width: 100px;
        height: 100px;
        margin-left: 20px;
        margin-top: 20px;

      }
      .header-name {
        // display: inline-block;
        margin-top: 60px;
        margin-left: 15px;
      }

    }
  }
}

.dashboard-subview {
  background-color: #f4f4f4;
}

.accordian {
  display: inline-block;

  width: 350px;
  margin-left: 60px;
  margin-top: 50px;

  .accordian-header {
    height: 100px;
    justify-content: center;
    text-align: center;
    .accordian-selector {
      display: inline-block;
      width: 49.2%;
      height: 100px;
      padding: 2px;
      cursor: pointer;
    }
    .active {
      background-color: #fff;
      border-left: 1px solid rgba(0, 0, 0, 0.1);
      border-right: 1px solid rgba(0, 0, 0, 0.1);
      border-top: 1px solid rgba(0, 0, 0, 0.1);
    }
  }

  .accordian-contents {
    background-color: #fff;
    display: inline-block;
    width: 100%;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    // min-height: 150px;

  }

  .mini-claim {

    // border: 1px solid rgba(0, 0, 0, 0.1);
    padding-top: 15px;
    padding-bottom: 15px;
    opacity: 1;
    -webkit-transition: -webkit-transform 2s ease-in-out;
  }

  .panel-body {
    border-top: none !important;
  }

  .anim {
    -webkit-transform: translate(200px, 200px)
  }

  .accordian-item {
    padding-left: 45px;
  }

  .old-claims-div {
    text-align: center;
    opacity: 0;
    color: #777779;
  }

}
//
// .animate-hide {
//  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s;
//     -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s;
//     -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s;
//     transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s;
//   line-height:20px;
//   opacity:1;
//   padding:10px;
//   border:1px solid black;
//   background:white;
//   position: absolute;
//   left: 0;
// }
//
// .animate-hide.ng-hide {
//   left: 200px;
//   opacity:0;
//   padding:0 10px;
// }
//
// .job-expand {
//   right: 500px;
//   position: absolute;
//   border: 1px solid red;
// }
