<div class="more-info">
    <h3>Customer Name: <span id="label-span">{{currentCmJob.last_name}}, {{currentCmJob.first_name}}</span></h3>
    <h3>Next Appointment: <span id="label-span">{{currentCmJob.appt_time}}</span></h3>
    <h3>{{currentCmJob.appt_phone}}</h3>
    <ul class="job-phones">
      <h3>Phone Numbers</h3>
        <li class="cm-phone">{{currentCmJob.phone_num1}} | {{currentCmJob.phone_num2}} | {{currentCmJob.phone_num3}}</li>
        <!-- <li class="cm-phone"> {{currentCmJob.phone_num2}} | </li>
      <li class="cm-phone"> {{currentCmJob.phone_num3}}</li> -->

    </ul>
    <h3 id="next-step">Next Step</h3>
    <textarea name="" id="" cols="30" rows="6" value="{{testCm.next_step}}" ng-model="currentCmJob.next_step">{{currentCmJob.next_step}}</textarea>
    <ul>
        <li>
            <span class="input">
            <input class="input__field" type="text" id="input-4" value="{{currentCmJob.model_num}}" ng-model="currentCmJob.model_num"/>
            <label class="input__label input__label--color-1" for="input-4">
              <span class="input__label-content">Model Number</span>
            </label>
          </span>
        </li>
        <li>
          <span class="input">
          <input class="input__field" type="text" id="input-5" value="{{currentCmJob.serial_num}}" ng-model="currentCmJob.serial_num"/>
          <label class="input__label input__label--color-1" for="input-5">
            <span class="input__label-content">Serial Number</span>
          </label>
        </span>
        </li>
        <li>
          <span class="input">
          <input class="input__field" type="text" id="input-3" value="{{currentCmJob.status}}" ng-model="currentCmJob.status"/>
          <label class="input__label input__label--color-1" for="input-3">
            <span class="input__label-content">Job Status</span>
          </label>
        </span>
        </li>
    </ul>
    <input type="checkbox" name="name" value="" ng-model="apptMet">Has the appointment been met?
  <button type="button" name="button" id="update" ng-click="updateJobAppt(apptMet, currentCmJob.next_step, currentCmJob.model_num, currentCmJob.serial_num, currentCmJob.status, currentCmJob.cm_id, currentCmJob.appt_id, currentCmJob.invoice); closeThisDialog();">Update Job</button>
</div>
